<section class="dark-bg short-section stats-bar">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-3 mb-sm-30">
                <div class="counter-item">
                    <h2 class="stat-number" data-n="{{ with .Site.Params.counter.awardscount }}{{ . }}{{ end }}">0</h2>
                    <h6>{{ with .Site.Params.counter.awards }}{{ . }}{{ end }}</h6>
                </div>
            </div>
            <div class="col-md-3 mb-sm-30">
                <div class="counter-item">
                    <h2 class="stat-number" data-n="{{ with .Site.Params.counter.clientscount }}{{ . }}{{ end }}">0</h2>
                    <h6>{{ with .Site.Params.counter.clients }}{{ . }}{{ end }}</h6>
                </div>
            </div>
            <div class="col-md-3 mb-sm-30">
                <div class="counter-item">
                    <h2 class="stat-number" data-n="{{ with .Site.Params.counter.teamcount }}{{ . }}{{ end }}">0</h2>
                    <h6>{{ with .Site.Params.counter.team }}{{ . }}{{ end }}</h6>
                </div>
            </div>
            <div class="col-md-3 mb-sm-30">
                <div class="counter-item">
                    <h2 class="stat-number" data-n="{{ with .Site.Params.counter.projectcount }}{{ . }}{{ end }}">0</h2>
                    <h6>{{ with .Site.Params.counter.project }}{{ . }}{{ end }}</h6>
                </div>
            </div>
        </div>
    </div>
</section>
