<!DOCTYPE html>
<html lang="en">

    <head>
        {{ partial "head.html" . }}
    </head>
	<body id="page-top">
		{{ partial "nav.html" . }}
		{{ partial "header.html" . }}
		{{ partial "about.html" . }}
        {{ partial "services.html" . }}
		{{ partial "portfolio.html" . }}
		{{ partial "counter.html" . }}
		{{ partial "partner.html" . }}
		{{ partial "team.html" . }}
		{{ partial "contact.html" . }}

        {{ partial "modal.html" . }}
		<p id="back-top">
			<a href="#top"><i class="fa fa-angle-up"></i></a>
		</p>
		{{ partial "footer.html" . }}
		{{ partial "js.html" . }}




	</body>
</html>
